<div id="menu">
  <nav class="pop-up">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="http://vsco.co/jonahallibone/grid/1" target="_blank">Photos</a></li>
      <li><a href="">Work</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </nav>
</div>
<header>
  <h1 class="name"><a href="/" class="text-salmon">Jonah Allibone</a></h1>
  <div class="burger open" role="button">
    <div class="condiments salmon"></div>
    <div class="condiments salmon"></div>
    <div class="condiments salmon"></div>
  </div>
</header>
