{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
<div class="box" id="box-1">
  <div id="content">
    <h3 class="text-blue recent-title underline-yellow">About</h3>
    <h2 class="description text-blue">
      I'm a Web Developer + Designer
      at <a target="_blank" href="https://www.blackmarketu.com" class="text-salmon">BlackMarket U</a> in Burlington, VT.
    </h2>
  </div>
  <div id="bottom-content">
    <h2 class="description text-blue">
      <a href="mailto:jonah.allibone@mymail.champlain.edu" class="text-salmon">Contact me</a> or
      <span class="no-break">
        <a href="" class="text-salmon">See some shit</a>
        <span class="arrow"></span>
      </span>
    </h2>
  </div>
</div>
<div class="divider"></div>
<div id="recent-posts">
  <h3 class="text-blue recent-title underline-yellow">Recent Posts</h3>
  <ul id="posts">
    <li>
      <h3 class="title"><a href="" class="text-salmon">First blog post!</a></h3>
      <div class="post-information">
        <span class="date">MAY 3, 2016</span>
        <span class="category"><a href="" class="text-salmon">Blogging</a></span>
      </div>
      <p>Hello, this is a test post.</p>
      <button role="button" class="button-block text-salmon"><span>Read More</span></button>
    </li>
    <li>
      <h3 class="title"><a href="" class="text-salmon">Second blog post!</a></h3>
      <div class="post-information">
        <span class="date">MAY 3, 2016</span>
        <span class="category"><a href="" class="text-salmon">Politics</a></span>
      </div>              <p>Hello, this is a test post.</p>
      <button role="button" class="button-block button-clear text-salmon"><span>Read More</span></button>
    </li>
    <li>
      <h3 class="title"><a href="" class="text-salmon">Third blog post!</a></h3>
      <div class="post-information">
        <span class="date">MAY 3, 2016</span>
        <span class="category"><a href="" class="text-salmon">Cooking</a></span>
      </div>              <p>Hello, this is a test post.</p>
      <button role="button" class="button-block button-clear text-salmon"><span>Read More</span></button>
    </li>
  </ul>
</div>
